snippet ii "inline math" w
\\($1\\)$0
endsnippet

snippet dd "display math" w
\[$1\]$0
endsnippet

snippet nl "newline" w
\vspace{${1:3}mm}\newline
endsnippet

snippet mbb "mathbb" w
\mathbb{$1}$0
endsnippet

snippet mbf "mathbf" w
\mathbf{$1}$0
endsnippet

snippet mcl "mathcal" w
\mathcal{$1}$0
endsnippet

snippet P "Probability" w
\mathbb{P}($1)$0
endsnippet

snippet vs "an vector in vector sequence" w
\mathbf{$1}^{($2)}$0
endsnippet
